<div id='container'>

  <img src='/images/beer.png' alt='beer' width='250px' id="jarra" />

  <a href='/beers' id="check">Check the Beers!</a>
  <a href='/random-beer' id="check">Check a Random Beer</a>
</div>